<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title + "!"}}
  </h1>
</div>

<div>{{num1 + num2}}</div>
<div [innerHtml]='title'></div>
<div>{{isHappy}}</div>
<div>{{!isHappy}}</div>
<div>{{isHappy? ':)' : ':('}}</div>
<input type="text" [value]= "name">
<input 
  type="text" 
  [value]= "name"
  (input)="handleInput($event)"
  (blur)="handleBlur($event)">
<div>{{name}}</div>
<button (click)="handleClick()">
  reset name!
</button>
<br/>
<img [src]="logo" alt="logo">



<router-outlet></router-outlet>
